@model HoppsWebPlatform_Revamp.Models.LocalPasswordModel

<h3>Set password</h3>
<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <table class="formTable">
        <tr>
            <td>@Html.LabelFor(m => m.NewPassword)</td>
            <td>@Html.PasswordFor(m => m.NewPassword)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
        </tr>
        <tr>
            <td><input class="buttonGreen" type="submit" value="Set password" /></td>
        </tr>
    </table>
}
