@{
    ViewBag.Title = "Home Page";
}
            <h1>Welcome to the Drunken Empire!</h1>
            <p>
                The bar is open, and the beer flows freely. Come and have a seat. 
                So what's it this time? Trouble with CONCORD? Did hotdroppers crack your prized 
                Tengu's hull? Did someone call you bad things over local communications? 
                Whatever your problems buddy, they don't matter. You're among friends, and 
                what's better than friends? Friends with beer. Grab a brew, get comfy. There's 
                a whole universe of naughty people out there looking to have their brains 
                splattered across space, but right now, let us drink and reminisce about other 
                times we drank.
            </p>
            <h2>Space Drunks</h2>
            <p>
                EVE Online holds an entire galaxy of different types of folk. Pirates, murderers, 
                marauders, carebears, builders, breakers, and piss-takers. The Drunken Empire 
                fills a different niche: space drunks. If you've ever come across a ship flying 
                upside down, trailing empties, or received a message riddled with typos proclaiming 
                the sender's love for everything, chances are you've come across our kind. If 
                you've ever accidentally reloaded your festival launcher with last night's curry, 
                or installed beer on tap inside your pod, you may already be our kind.
            </p>
            <p>
                We are part of Fatal Ascension, a member of the glorious union of space nerds that is 
                <a class="inlineLink" href="https://wiki.eveonline.com/en/wiki/Clusterfuck_Coalition_%28Player_coalition%29">The CFC.</a> 
                Our current home region is the always-profitable Fountain, which we share with 
                Serpentis and a loose association of silly would-be gankers, both of which we enjoy 
                bring down worlds of hurt upon. As member of The Drunken Empire, you can enjoy:<br />
                <ul>
                    <li>Stable, sexy, and powerful leadership</li>
                    <li>0.0 Pew Pew, both at home and abroad</li>
                    <li>Full Ship Replacement for alliance fleets</li>
                    <li>Friendly and energetic corp atmosphere, with no shortage of shenanigans</li>
                    <li>Access to Fountain PvE, for those that like to pad their wallets with the tears of Serpentis families</li>
                </ul>

                Our only expectations are that you give back to the corporation, who provides the fun, and the alliance, who provides the kills. We expect:
                <ul>
                    <li>Participation in combat operations on a consistent basis</li>
                    <li>Willingness to be on comms when logged in</li>
                    <li>To not be easily offended by bullshit chatter</li>
                </ul>


            </p>
<h3>We suggest the following:</h3>
<br />
@Html.ActionLink("Recruit Application", "Index", "Recruitment")<br />
@Html.ActionLink("New Application", "Apply", "Recruitment")<br />
@Html.ActionLink("Recruit Application Background Check", "BackgroundCheck", "Recruitment", new { appID = 51 }, null)<br />
@Html.ActionLink("Contract Manager", "Index", "Contract")<br />
@Html.ActionLink("View Member Profile", "ViewMemberProfile", "Member")<br />
@Html.ActionLink("My Profile", "MyProfile", "Account")<br />
@Html.ActionLink("Application Configuration", "Configuration", "Admin")<br />
@Html.ActionLink("Recruitment Configuration", "Recruitment", "Admin")<br />
@Html.ActionLink("Fitting Configuration", "FittingManager", "Admin")<br />
@Html.ActionLink("Application Maintenance", "Maintenance", "Admin")<br />