<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - The Drunken Empire</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CustomStyles.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <div id="banner">
            <div id="bannerTitle">
                <a href="/" class="titleLink" id="siteTitle">The Drunken Empire</a><br />
                <a href="/" class="titleLink" id="siteMotto">Flying drunk and disorderly since 2011</a>
            </div>

            <div id="nav-container">
                <div class="navigation" style="padding-right:15px;">
                    @Html.Partial("_LoginPartial")
                </div>
                @Html.Partial("_NavBarPartial")
            </div>
        </div>

        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">

        </div>
    </div>
    <!--preloads background images and button images to load into cache-->
    <div id="preloader">
        <img src="~/Images/background1.png" />
        <img src="~/Images/background2.png" />
        <img src="~/Images/background3.png" />
        <img src="~/Images/Buttons/buttonGreenMidUp.jpg" />
        <img src="~/Images/Buttons/buttonRedMidUp.jpg" />
        <img src="~/Images/Buttons/buttonBlueMidUp.jpg" />
        <img src="~/Images/Buttons/buttonGreyMidUp.jpg" />
        <img src="~/Images/Tempest.png" />
        <img src="~/Images/Loki.png" />
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
