@if (Request.IsAuthenticated) {

    <ul class="nav navbar-nav navbar-right nav-login">
        <li>
            @*<img src="https://image.eveonline.com/Character/@Session["pilotID"]_50.jpg" />*@
                 @Html.ActionLink(User.Identity.Name, "MyProfile", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
        </li>
        <li>
           @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()                
            }
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right nav-login">
        <li>
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        <li><a href="@Url.Action("EVELogin", "Account")" style="padding-top:10px; padding-bottom:10px;"><img src="https://images.contentful.com/idjq7aai9ylm/12vrPsIMBQi28QwCGOAqGk/33234da7672c6b0cdca394fc8e0b1c2b/EVE_SSO_Login_Buttons_Small_Black.png?w=195&amp;h=30" alt="EVE SSO Login Buttons Small Black" /></a></li>
    </ul>
}
